*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #e9efc0 !important;
}
.content{
    display: flex;
}
.sidebar{
    width: 19%;
    height: 200vh !important;
    background-color: #b4e197;
    position: relative;
   
}
.section-top{
    height: 50px; 
}
.container{
    display: grid;
}
.head{
    text-align: start;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 10px;
    font-weight: 900;
}
.myicon{
    margin: 5px;
    text-align: start;
    align-items: center;
    justify-content: center;
}
.section-two{
    text-align: start;
    align-items: center;
    justify-content: center;
}
ul{
    text-align: start;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
    left: -28px;
    padding: 10px;
}
li{
    text-align: start;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 50px;
    margin: 1px;
    font-weight: 900;
}
.myfas{
    margin: 5px !important;
    text-align: start;
    font-size: 20px;
    width: 30px !important;
}
.main{
    display: grid;
    width: 100%;
    height: 100vh;
}
.grid-container {
    /* grid-template-columns: 800px 300px; */
    height: 135px;
    display: grid;
    gap: 0px;
    box-shadow: 0px 0px 5px #887f7f;
    margin-bottom: 20px;
    margin: 0px;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    height: 135px;
}
.item{
    grid-row: 1;
    height: 135px;
    padding: 10px;
}
.container-grid-one{
    display: grid;
    text-align: left;
    gap: 10px;
}
.sub-item{
    display: grid;
    grid-template-columns: 95px 107px ;
    grid-template-rows: 20px;
    gap: 10px;
    text-align: right;
}
input{
    width: 450px !important;
    height: 25px !important;
    border-radius: 25px;
    padding-left: 50px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container-grid{
    display: grid;
    grid-template-columns: 65px 75px 75px;
    gap: 10px;
    text-align: center;
}
.para{
    font-size: 12px;
}
.btn-primary{
    background-color: #b4e197 !important;
    border: #b4e197 !important;
    margin: 10px;
}
.grid-container-one {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 220px 220px 220px;
    gap: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-left: 10px;
}
.headone{
    font-size: 18px;
    font-weight: 900;
    margin: 10px;
}
.mycard {
    padding: 5px;
    background-color: #e9efc0;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #887f7f;
    border-left: 7px solid #b4e197 !important;
}
.mytitle{
    font-weight: 900;
    font-size: 16px;
}
.fas{
    margin: 5px;
    width: 0px;
}